@import "../../assets//Vars.scss";


.topNav{
 padding: 2vh;
 background-color: $white;
}
.navContainer {
    display: grid;
    position: relative;
    grid-template-columns: 20% auto 20%;
    align-items: center;
    justify-items: center;
    border-top: solid 2px $lightGrey;
    background-color: $white;
    padding: 1vh;


    .mainNav {    
        display: flex;
        li {
            list-style: none;
            a {
                color: $black;
                text-decoration: none;
                padding: 0 1rem;
                &.active {
                    padding: 1.257rem;
                    border-top: 2px solid $green;
                    color: $green;
                }
                &:hover {
                    color: $green;
                }
            }
        }
    }
    .imageContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $grey;
        width: 30px;
        height: 30px;
        height: px;
         border-radius: 50%;
        img {
            width: 1rem;
        }
        .profileImg {
            width: 1.2rem;
        }
    }
}

@media only screen and (max-width: 880px) {
    .navContainer {
        display: flex;
        img {
            padding-left: 2rem;
        }
        .mainNav {
            
            display: none;
        }
        .imageContainer {
            display: none;
        }
    }
}