
//Standard colors
$black: #000;
$white: #fff;

//often used colors
$grey: #D8EADB;
$lightGrey: #F2F2F2;
$darkGreen: #114D46;
$green: #6DA830;
$lightGreen: #62BB65; 

//font colors
$fontH: #222A41;
$fontP: #888888;
$fontGreen: #119B1E;
$fontDarkGreen: #0E4F2D;


//Background colors
$backgroundGreen: #62BB6533;
$backgroundWhite: #62BB6500;

